region                 = "ap-southeast-1"
github_owner           = "loctran"
github_repo            = "myspace"
vpc_cidr               = "10.0.0.0/16"
vpc_azs                = ["ap-southeast-1a", "ap-southeast-1b", "ap-southeast-1c"]
allowed_environments   = ["prod", "dev"]
runner_instance_types  = ["t4g.medium"]
runner_max_count       = 5
